---
import Image from "astro/components/Image.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import CardButton from "../components/CardButton.astro"
import avatarJessica from "../images/avatar-jessica.jpeg"

const buttons = [
    {
        text: "GitHub",
        url: "#",
    },
    {
        text: "Frontend Mentor",
        url: "#",
    },
    {
        text: "LinkedIn",
        url: "#",
    },
    {
        text: "Twitter",
        url: "#",
    },
    {
        text: "Instagram",
        url: "#",
    },
]
---

<BaseLayout title="social-links-profile">
    <div class="flex w-[20.4375rem] flex-col items-center gap-300 rounded-xl bg-grey-800 p-300 sm:w-[28.5rem] sm:p-500 lg:w-[24rem]">
        <Image src={avatarJessica} alt="Profile Picture" class="w-22 rounded-full" />
        <div class="flex flex-col items-center gap-50">
            <h2 class="text-preset-1 font-semibold">Jessica Randall</h2>
            <p class="text-preset-2 font-bold text-green">London, United Kingdom</p>
        </div>
        <p class="text-sm text-white">"Front-end developer and avid reader."</p>
        <div class="flex w-full flex-col gap-200">
            {buttons.map((button) => <CardButton href={button.url} text={button.text} />)}
        </div>
    </div>
</BaseLayout>
