---
const { href, text } = Astro.props
---

<a
    href={href}
    class="block w-full rounded-lg bg-grey-700 p-150 text-center text-preset-2 font-bold text-white transition-colors duration-300 ease-in-out hover:bg-green hover:text-black"
>
    {text}
</a>
